{{define "subject"}}Reset your TextBin password{{end}}

{{define "plainBody"}}
Hi,

We have provided a password reset token for you to reset your password.

{"token": "{{.passwordResetToken}}"}

Please note that this is a one-time use token and it will expire in 45 minutes.

Thanks,

The TextBin Team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p>Hi,</p>
    <p>We have provided a password reset token for you to reset your password.</p>
    <pre><code>
    {"token": "{{.passwordResetToken}}"}
    </code></pre>
    <p>Please note that this is a one-time use token and it will expire in 45 minutes.</p>
    <p>Thanks,</p>
    <p>The TextBin Team</p>
  </body>
</html>
{{end}}
